@import url("https://fonts.cdnfonts.com/css/enriqueta");
@import url("https://fonts.cdnfonts.com/css/dm-serif-display");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Galorine;
  src: url(./assets/fonts/galorine.regular.otf) format(otf);
}

@layer {
  * {
    @apply border-black;
  }

  .parent {
    background: url(./assets/bg.png) center center / cover no-repeat;
  }
}
